<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Version 8 MySQL hibernate-cfg.xml example for Hibernate 5 -->

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibe</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Patna@2022</property>
		<!-- To understand the message of Databse use dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<!-- If we want the hibernate will create the table by own itself we use this property -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- If we want to see the querry then we use this property -->
		<property name="show_sql">true</property>
		<!-- Mapping to the class for database -->
		<mapping class="com.hibernate.MavenHibernate.student"/>
		<mapping class="com.hibernate.MavenHibernate.Address"/>
		<mapping class="com.hibernate.MavenHibernate.fetchData"/>
		<!-- Embebed Class Mapping -->
		<mapping class="Embeded.Anatotaion.Cognizant"/>
	</session-factory>
</hibernate-configuration>